@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
  backgroun-repeat: no-repeat;
  background-size: cover;
}

/* Classe */
.container {
  background: #ecf4ff;
  color: #1c1c1c;
  /*   Margem */
  margin: 64px;
  /*   Raio da Borda */
  border-radius: 20px;
  /*   Sombra do Elemento */
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  /* Estilizando o posicionamento dos elementos */
  display: flex;
}

.perfil-foto {
  border-radius: 500px;
  max-height: 200px;
  /*   Sombra */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

/* Especificando que a tag h1 a ser estilizada é a que está contida na tag cuja classe é .titulo(neste caso, a div) */
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 5px;
}

.redesSociais {
  max-height: 40px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 32px;
}

.projetos ul {
  font-weight: 700;
  font-size: 36px;
  line-height: 10px;
  text-align: center;
  margin-bottom: 40px;
}
.projetos li {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-left: 50px;
}

ul,
li {
  /*   Retirando as configurações de estilo padrão das listas */
  list-style: none;
}

/* .ladinho {
  display: flex;
  align-items: center;
}

.ladinhoEsq {
  margin-left: 50px;
} */

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f7f7f7;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}